.user-toolbar {
  display: flex;
  flex-direction: row;

  .user-name {
    color: white!important;
  }

  .user-menu-item {
    width: 100%;
    height: 100%;
  }

}

.user-menu {
  max-width: 300px!important;
  width: 300px!important;
  padding: 5px;
  align-items: center;
  .user-preview {
    color: white;
    justify-content: center;
    padding: 5px;
    background-color: #327ee0;
  }
  ul {
    padding: 0;
    li {
      padding: 0;
    }
  }
}
