<template>
  <div class="user-toolbar">
		<ui-menu-anchor>
			<ui-button class="user-name" @click="open = true">
				<div>{{ name }}</div>
				<template #before="{ iconClass }">
					<ui-icon :class="iconClass" v-if="!open">expand_more</ui-icon>
					<ui-icon :class="iconClass" v-else>expand_less</ui-icon>
				</template>
			</ui-button>
			<ui-menu
				v-model="open"
				class="user-menu"
			>
				<div class="d-flex flex-row user-preview justify-content-around align-items-center">
					<Avatar />
					<div>{{ userSurname }} {{ userName }} {{ userPatronymic }}</div>
				</div>
				<ui-divider></ui-divider>
				<ui-menuitem>
					<ui-button class="user-menu-item" @click="logout">
						<div>Выйти</div>
						<template #before="{ iconClass }">
							<ui-icon :class="iconClass">logout</ui-icon>
						</template>
					</ui-button>
				</ui-menuitem>
			</ui-menu>
		</ui-menu-anchor>
	</div>
</template>

<script src="./scripts.js"/>

<style src="./styles.scss" lang="scss"/>