<template>
  <div class="login-background">
    <div class="login-form">
      <IconComponent
          name="logo"
          :height="128"
          :width="128"
      />
      <h1 :class="[$tt('headline2')]">{{ title }}</h1>
      <div class="login-form__fields">
        <ui-textfield v-model="email" required>
          Email
        </ui-textfield>
        <ui-textfield
						v-model="password"
            input-type="password"
            required
            pattern=".{8,}"
            helper-text-id="pw-validation-msg"
            :attrs="{autocomplete: 'current-password'}"
        >
          Пароль
        </ui-textfield>
        <ui-button raised @click="loginUser">Войти</ui-button>
      </div>
    </div>
  </div>
</template>

<script src="./scripts.js"/>

<style src="./styles.scss" lang="scss"/>