.login-background {
  background-color: #1565c0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;

  .login-form {
    align-items: center;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;

    .login-form__fields {
      padding-top: 10%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1.5em;

      * {
        font-size: 12px;
      }

      ::v-deep(#pw-validation-msg) {
        color: #fff !important;
      }
    }
  }

  h1 {
    color: #fff
  }
}
