<template>
  <div class="content-wrapper">
    <ui-top-app-bar
        content-selector="#content-main"
        class="header"
        :title="title"
    >
      <template #nav-icon>
        <IconComponent
            name="logo"
            :height="64"
            :width="64"
        />
      </template>
      <template #default="{ toolbarItemClass, iconClass }">
        <h1 :class="[toolbarItemClass, $tt('headline2')]">{{ title }}</h1>
        <div :class="[toolbarItemClass]" class="nav-bar">
          <ui-tab-bar v-model="active" type="textWithIcon" class="nav d-none ">
            <ui-tab
                v-for="(tab, index) in permittedTabs"
                :key="index"
                type="textWithIcon"
                :icon="tab.icon"
            >
              {{ tab.text }}
            </ui-tab>
          </ui-tab-bar>
					<ul :class="[toolbarItemClass]" class="nav">
						<li class="nav-item" v-for="(tab, index) in permittedTabs" :key="index" >
							<router-link class="nav-link d-flex flex-row align-items-center" :to="tab.url">
								<ui-icon :class="iconClass">{{ tab.icon }}</ui-icon>
								<p class="px-1 m-0">{{ tab.text }}</p>
							</router-link>
						</li>
					</ul>
        </div>
      </template>
			<template #toolbar>
				<user-tools-component></user-tools-component>
			</template>
    </ui-top-app-bar>
    <div class="container" v-shadow="5">
      <router-view/>
    </div>
  </div>
</template>

<script src="./app.js"/>

<style src="./app.scss" lang="scss" scoped/>
