@use '../main';
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');

.content-wrapper {
  background-image: url('../assets/images/back_blue.png');
  background-color: #c5cae9;
  background-size: 300px;
}

.container {
  background: #fff;
  min-width: 900px;
  max-width: 1400px;
  margin: 64px auto 0 auto;
  min-height: calc(100vh - 64px);
}

.header {
  top: 0;
  .nav-bar {
    height: 64px;
  }
  ul {
    height: 100%;
  }
  .nav-item {
    a {
      height: 100%;
      font-size: 12px;
      color: rgba(0,0,0,.6);
      padding: 4px 1em 4px;
    }
    a.router-link-active {
      color: #fff;
    }
    a:hover {
      transition: none;
      padding-bottom: 0;
      border-bottom: 4px solid #fff;
    }
  }
}

.header ::v-deep(.mdc-top-app-bar__title) {
  display: flex;
  align-items: center;
  color: #fff;

  > * {
    padding-right: 0.25em;
  }

  button {
    font-size: 12px;
    padding: 0 0.5em;
  }
}


