@forward '@material/theme/theme-color' with (
  $primary: #1565c0,

  $secondary: #468701,
  $background: #fff,

  $surface: #fff,

  $error: #b00020,

  $text-colors: (
    dark: (
      primary: rgba(black, 0.87),
      secondary: rgba(black, 0.54),
      hint: rgba(black, 0.38),
      disabled: rgba(black, 0.38),
      icon: rgba(black, 0.38),
    ),
    light: (
      primary: white,
      secondary: rgba(white, 0.7),
      hint: rgba(white, 0.5),
      disabled: rgba(white, 0.5),
      icon: rgba(white, 0.5),
    ),
  ),

  $text-emphasis: (
    high: 0.87,
    medium: 0.6,
    disabled: 0.38,
  )
);

@forward '@material/typography/typography';

h1 {
  font-family: 'Island Moments', cursive !important;
}

* {
  margin: 0;
  padding: 0;
}

div ::v-deep(.mdc-floating-label--float-above){
  color: #1565c0!important;
}
