<template>
  <ui-dialog :modelValue="openTemplateImportModal">
    <ui-dialog-title>Загрузить шаблон</ui-dialog-title>
    <ui-dialog-content>
      <p>Выберите архив, который будет загружен</p>
      <ui-file accept="json/*" @change="balmUI.onChange('files', $event)"></ui-file>
      <p>Files: {{ fileNames }}</p>
    </ui-dialog-content>
    <ui-dialog-actions>
      <ui-button @click="onConfirm($event)">
        <div>Сохранить</div>
        <template #before="{ iconClass }">
          <ui-icon :class="iconClass">save</ui-icon>
        </template>
      </ui-button>
      <ui-button @click="toggle">
        <div>Отменить</div>
        <template #before="{ iconClass }">
          <ui-icon :class="iconClass">cancel</ui-icon>
        </template>
      </ui-button>
    </ui-dialog-actions>
  </ui-dialog>
</template>

<script src="./scripts.js"/>

<style src="./styles.scss" lang="scss" scoped/>
