<template>
	<figure v-if="loading" class="w-100">
		<ui-progress class="w-100" :active="loading" indeterminate></ui-progress>
	</figure>
	<template v-if="!loading && myList && myList.length">
		<h3 class="pt-3">Мой курсы:</h3>
		<ui-grid class="demo-grid">
			<ui-grid-cell class="demo-cell" v-for="course in myList" :key="course.id">
				<ui-badge overlap dot state="info" class="difficulty" :class="{[course.difficulty]: true}">
					<ui-card outlined class="demo-card">
						<ui-card-content class="demo-card__primary-action">
							<div class="demo-card__music-row">
								<ui-card-media
										square
										class="demo-card__media--music"
										:class="{[course.language.toLowerCase()]: true}"
								></ui-card-media>
								<div class="demo-card__music-info">
									<div :class="[$tt('headline5'), 'demo-card__music-title']">{{ course.language }}</div>
									<div class="demo-card__music-year">{{ course.description }}</div>
								</div>
							</div>
						</ui-card-content>
						<ui-divider></ui-divider>
						<ui-card-actions>
							<ui-card-icons class="course-bottom-info">
								<div>{{ formatDate(course.startDate) }} - {{ formatDate(course.endDate) }}</div>
								<ui-button raised class="start-course-btn" v-if="course.isApproved">
									К заданиям
								</ui-button>
								<div v-if="!course.isApproved">Заявка отправлена</div>
							</ui-card-icons>
						</ui-card-actions>
					</ui-card>
					<template #badge>
						<div class="demo-card__music-artist">{{ course.difficulty }}</div>
					</template>
				</ui-badge>
			</ui-grid-cell>
		</ui-grid>
		<h3>Все курсы:</h3>
	</template>

  <ui-grid class="demo-grid" v-if="!loading">
    <template v-if="list && list.length">
      <ui-grid-cell class="demo-cell" v-for="course in list" :key="course.id">
        <ui-badge overlap dot state="info" class="difficulty" :class="{[course.difficulty]: true}">
          <ui-card outlined class="demo-card">
            <ui-card-content class="demo-card__primary-action">
              <div class="demo-card__music-row">
                <ui-card-media
                    square
                    class="demo-card__media--music"
                    :class="{[course.language.toLowerCase()]: true}"
                ></ui-card-media>
                <div class="demo-card__music-info">
                  <div :class="[$tt('headline5'), 'demo-card__music-title']">{{ course.language }}</div>
                  <div class="demo-card__music-year">{{ course.description }}</div>
                </div>
              </div>
            </ui-card-content>
            <ui-divider></ui-divider>
            <ui-card-actions>
              <ui-card-icons class="course-bottom-info">
                <div>{{ formatDate(course.startDate) }} - {{ formatDate(course.endDate) }}</div>
                <ui-button raised class="start-course-btn" @click="subscript($event, course.id)" v-if="isStudent()">
                  Записаться!
                </ui-button>
								<ui-button raised class="start-course-btn" @click="subscript($event, course.id)" v-if="isTeacher()">
                  Группа
                </ui-button>
              </ui-card-icons>
            </ui-card-actions>
          </ui-card>
          <template #badge>
            <div class="demo-card__music-artist">{{ course.difficulty }}</div>
          </template>
        </ui-badge>
      </ui-grid-cell>
    </template>
  </ui-grid>
</template>

<script src="./scripts.js"/>

<style src="./styles.scss" lang="scss" scoped/>
