.start-course-btn {
  color: #fff !important;
  font-size: 12px;
}

.course-bottom-info {
  display: flex;
  justify-content: space-between;
}

.difficulty ::v-deep(sup) {
  border-radius: 20% !important;
}

.simple ::v-deep(sup) {
  background-color: #9ccc65;
}

.medium ::v-deep(sup) {
  background-color: #ffa726;
}

.hard ::v-deep(sup) {
  background-color: #ff7043;
}

.python {
  background-image: url('../../../../assets/images/2.jpg');
  width: 100px;
  height: 100px;
}

.javascript {
  background-image: url('../../../../assets/images/js-logo.png');
  width: 100px;
  height: 100px;
}

.demo-card__music-row {
  display: flex;
  max-height: 100px;
}

.demo-card__music-info {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin: 8px;
  width: calc(100% - 100px);
}

.demo-card__action-buttons--text-only {
  margin-left: 8px;
}

.demo-card__action-icon--star {
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
}

.course-tasks-wrapper {
  display: flex;
  flex-direction: column;

  .course-tasks {
    font-size: 12px;
    padding-left: 30px;
    width: 100%;

    li {
      line-height: 14px;
      font-size: 12px;
      padding-bottom: 2px;
    }
  }
}

.course-actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding: 5px 0;

  .course-action {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
  }

  .course-remove {
    background-color: #dc3545;
  }

  .course-action__icon {
    margin-left: -4px;
    margin-right: 8px;
  }
}

