<template>
  <template-add-modal @onTemplateAdd="reload"></template-add-modal>
  <course-add-modal></course-add-modal>
	<figure v-if="loading">
		<ui-progress :active="loading" indeterminate></ui-progress>
	</figure>
  <ui-grid class="demo-grid" v-if="!loading">
    <ui-grid-cell class="demo-cell">
      <ui-button raised class="course-action" @click="toggleAddTemplate">
        <div>Добавить шаблон</div>
        <template #before="{ iconClass }">
          <ui-icon :class="iconClass">add</ui-icon>
        </template>
      </ui-button>
    </ui-grid-cell>
  </ui-grid>
  <ui-grid class="demo-grid" v-if="!loading">
    <template v-if="list && list.length">
      <ui-grid-cell class="demo-cell" v-for="course in list" :key="course.id">
        <ui-badge overlap dot state="info" class="difficulty" :class="{[course.difficulty]: true}">
          <ui-card outlined class="demo-card">
            <ui-card-content class="demo-card__primary-action">
              <div class="demo-card__music-row">
                <ui-card-media
                    square
                    class="demo-card__media--music"
                    :class="{[course.language.toLowerCase()]: true}"
                ></ui-card-media>
                <div class="demo-card__music-info">
                  <div :class="[$tt('headline5'), 'demo-card__music-title']">{{ course.language }}</div>
                  <div class="demo-card__music-year">{{ course.description }}</div>
                </div>
              </div>
            </ui-card-content>
            <ui-divider></ui-divider>
            <ui-card-actions class="course-tasks-wrapper">
              <ol class="course-tasks">
                <li v-for="i in course.steps" :key="i">
                  {{ i }}
                </li>
              </ol>
              <div class="course-actions">
                <ui-button raised class="course-action" @click="toggleAddCourse($event, course.id)">
                  <div>Начать курс</div>
                  <template #before="{ iconClass }">
                    <ui-icon :class="iconClass">insert_drive_file</ui-icon>
                  </template>
                </ui-button>
                <ui-button raised class="course-action course-remove" @click="confirmRemoval($event, course.id)">
                  <div>Удалить</div>
                  <template #before="{ iconClass }">
                    <ui-icon :class="iconClass">delete</ui-icon>
                  </template>
                </ui-button>
              </div>
            </ui-card-actions>
          </ui-card>
          <template #badge>
            <div class="demo-card__music-artist">{{ course.difficulty }}</div>
          </template>
        </ui-badge>
      </ui-grid-cell>
    </template>

  </ui-grid>
</template>

<script src="./scripts.js"/>

<style src="./styles.scss" lang="scss" scoped/>
