<template>
	<figure v-if="loading" class="w-100">
		<ui-progress class="w-100" :active="loading" indeterminate></ui-progress>
	</figure>
	<ui-grid>
		<ui-grid-cell columns="6">
			<h3 class="pt-3">Мои группы:</h3>
			<ui-list v-if="!loading && list && list.length">
				<ui-item
					v-for="course in list"
					:key="`${course.language} ${course.difficulty}`"
					@click="fetchStudents($event, course.groups[0])"
					:class="{selectedGroup: selectedGroup === course.groups[0]}"
				>
					<ui-item-first-content class="mx-1">
						<div :class="{[course.language.toLowerCase()]: true}" class="fit-size"></div>
					</ui-item-first-content>
					<ui-item-text-content class="d-flex flex-row">
						<h5 class="mx-2 my-0">{{ course.language }}</h5>
						<div>{{ formatDate(course.startDate) }} - {{ formatDate(course.endDate) }}</div>
						<div class="difficulty mx-2" :class="{[course.difficulty]: true}">{{ course.difficulty }}</div>
					</ui-item-text-content>
				</ui-item>
			</ui-list>
		</ui-grid-cell>
		<ui-grid-cell columns="6">
			<ui-segmented-buttons
				v-model="selectedGroupType"
				:items="groupTypes"
				single-select
			></ui-segmented-buttons>
			<figure v-if="studentsLoading" class="w-100">
				<ui-progress class="w-100" :active="studentsLoading" indeterminate></ui-progress>
			</figure>
			<ul v-if="!studentsLoading && students && students.length" class="student-list">
				<li v-for="student in studentsType" :key="student.email">
					<div class="d-flex flex-row student-row">
						<div class="student-data student-name">{{ `${student.surname} ${student.name} ${student.patronymic}` }}</div>
						<div class="student-data student-email mx-1">{{ student.email }}</div>
						<ui-button
							v-if="selectedGroupType === 1"
							class="text-success mx-1"
							@click="approveStudent($event, student.id)"
						>
							<div>Зачислить</div>
							<template #before="{ iconClass }">
								<ui-icon :class="iconClass">thumb_up</ui-icon>
							</template>
						</ui-button>
						<ui-button v-if="selectedGroupType === 1" class="text-danger mx-1" @click="exileStudent($event, student.id)">
							<div>Отказать</div>
							<template #before="{ iconClass }">
								<ui-icon :class="iconClass">thumb_down</ui-icon>
							</template>
						</ui-button>
						<ui-button v-if="selectedGroupType === 0"  class="text-primary mx-1">
							<div>Задания</div>
							<template #before="{ iconClass }">
								<ui-icon :class="iconClass">task_alt</ui-icon>
							</template>
						</ui-button>
						<ui-button v-if="selectedGroupType === 0" class="text-danger mx-1" @click="exileStudent($event, student.id)">
							<div>Отчислить</div>
							<template #before="{ iconClass }">
								<ui-icon :class="iconClass">thumb_down</ui-icon>
							</template>
						</ui-button>
						<ui-button v-if="selectedGroupType === 2" class="text-warning mx-1" @click="restoreStudent($event, student.id)">
							<div>Восстановить</div>
							<template #before="{ iconClass }">
								<ui-icon :class="iconClass">settings_backup_restore</ui-icon>
							</template>
						</ui-button>
					</div>
				</li>
			</ul>
		</ui-grid-cell>
	</ui-grid>
</template>

<script src="./scripts.js"/>

<style src="./styles.scss" lang="scss" scoped/>
