.start-course-btn {
  color: #fff !important;
  font-size: 12px;
}

.course-bottom-info {
  display: flex;
  justify-content: space-between;
}

.difficulty {
  font-size: 12px;
  border-radius: 20%;
  color: #fff;
  overflow: hidden;
  padding: 0 6px;
  white-space: nowrap;
}

.simple {
  background-color: #9ccc65;
}

.medium {
  background-color: #ffa726;
}

.hard {
  background-color: #ff7043;
}

.python {
  background-image: url('../../../../assets/images/2.jpg');
  width: 100px;
  height: 100px;
}

.javascript {
  background-image: url('../../../../assets/images/js-logo.png');
  width: 100px;
  height: 100px;
}

.fit-size {
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    width: inherit;
    height: inherit;
}

.demo-card__music-row {
  display: flex;
  max-height: 100px;
}

.demo-card__music-info {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin: 8px;
  width: calc(100% - 100px);
}

.demo-card__action-buttons--text-only {
  margin-left: 8px;
}

.demo-card__action-icon--star {
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
}

.selectedGroup {
  transform: scale(1.05);
  transition: all 0.5s;
}

.student-list {
  white-space: nowrap;
  list-style-type: none;
  padding: 0;
  margin: 0.5rem;

  button {
    font-size: 12px;
  }

  .student-row {
    height: 36px;
    line-height: 36px;

    .student-data {
      font-size: 12px;
    }
  }
}




