<template>
  <ui-dialog :modelValue="openCourseImportModal">
    <ui-dialog-title>Открыть курс</ui-dialog-title>
    <ui-dialog-content>
      <ui-form type="|" item-margin-bottom="16" action-align="center">
        <template #default>
          <ui-form-field class="required">
            <label class="mb-1">Выберите даты, на которых будет открыт курс</label>
            <ui-rangepicker v-model="date" outlined :labels="['Дата начала', 'Дата окончания']">
              <template #separator>-</template>
            </ui-rangepicker>
          </ui-form-field>
        </template>
      </ui-form>
      <ui-alert state="warning" v-if="!isDateFilled">Даты не заполнены</ui-alert>
    </ui-dialog-content>
    <ui-dialog-actions>
      <ui-button @click="onConfirm($event)" :disabled="!isDateFilled">
        <div>Сохранить</div>
        <template #before="{ iconClass }">
          <ui-icon :class="iconClass">save</ui-icon>
        </template>
      </ui-button>
      <ui-button @click="toggle">
        <div>Отменить</div>
        <template #before="{ iconClass }">
          <ui-icon :class="iconClass">cancel</ui-icon>
        </template>
      </ui-button>
    </ui-dialog-actions>
  </ui-dialog>
</template>

<script src="./scripts.js"/>

<style src="./styles.scss" lang="scss" scoped/>
